.menu-style {
    padding: 10px;
    width: 35vh;
    height: 100%;
    background-color: #303030;
    border-radius: 10px;
    color: white;
}

.menu-style-text {
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

.main-style {
    width: 100%;
    height: 96vh;
    background-color: #dacc91;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 10px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.upcoming-style {
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
}

.upcoming-container {
    display: flex;
}

.today-style {
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    background: #dacc91;
    padding: 15px;
    border: 2px solid #000000;
    border-radius: 8px;
    margin-top: 15px;
    margin-right: 15px;
    width: 514px;
}

.tomorrow-style {
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    padding: 15px;
    border: 2px solid #000000;
    border-radius: 8px;
    margin-top: 15px;
    margin-right: 15px;
    width: 514px;
}

.thisweek-style {
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    padding: 15px;
    border: 2px solid #000000;
    border-radius: 8px;
    margin-top: 15px;
    width: 514px;
}

.add-new-task {
    font-size: 15px;
    border: 2px solid #000000;
    border-radius: 8px;
    height: 45px;
    align-items: center;
    text-align: left;
    padding: 8px
}

.add-new-task:hover {
    background-color: #aea377;
    border: 2px solid #6c6446;
}

.add-icon {
    width: 25px;
}

.body-style {
    height: 96vh;
    display: flex;
    margin: 15px;
    background-color: #000000;
}

.primary-menu-text {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

.options-menu-style {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
}

.task-option-style {
    border: none;
    border-radius: 10px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
    color: white;
    margin: 1px;
}

.task-option-style:hover {
    background-color: #000000;
    color: white;
    text-decoration: none;
}

.button-style {
    background-color: #303030;
    border: none;
    border-radius: 10px;
    height: 45px;
    font-size: 20px;
    justify-content: space-between;
    color: white;
}

.button-style:hover {
    background-color: #000000;
}
